<app-usernav></app-usernav>

<div style="background-image: url('/assets/images/background.webp'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            z-index: -1; 
            filter: blur(10px);">
</div>

<div class="container">
<h1>Loan Application Form</h1>

<form #loanApplicationForm="ngForm" (ngSubmit)="onSubmit(loanApplicationForm)">


  <label for="farmLocation">Farm Location*</label>
  <input type="text" name="farmLocation" id="farmLocation" [(ngModel)]="farmLocation" required #farmLocationRef="ngModel">
  <div class="error-message" *ngIf="farmLocationRef.touched && farmLocationRef.invalid">
    <div>*Farm Location is required</div>
  </div>


  <label for="address">Farmer's Address*</label>
  <textarea name="address" id="address" [(ngModel)]="address" required rows="4" #addressRef="ngModel"></textarea>
  <br>
  <div class="error-message" *ngIf="addressRef.touched && addressRef.invalid">
    <div>*Farmer's Address is required</div>
  </div>


  <label for="size">Farm Size (in acres)*</label>
  <input type="number" name="size" id="size" [(ngModel)]="size" required min="0" #sizeRef="ngModel">
 
    
  <div class="error-message" *ngIf="sizeRef.touched && sizeRef.invalid">
    <div>*Farm Size is required</div>
  </div>
  <div class="error-message" *ngIf="sizeRef.touched && size !== undefined && +size < 0">
    <div>*Farm Size must be a non-negative number</div>
  </div>

  <label for="purpose">Farm Purpose*</label>
  <input type="text" name="purpose" id="purpose" [(ngModel)]="purpose" required #purposeRef="ngModel">
  <div class="error-message" *ngIf="purposeRef.touched && purposeRef.invalid">
    <div>*Farm Purpose is required</div>
  </div>

  <label for="proof">Proof*</label>
  <input type="file" name="proof" id="proof" (change)="onFileSelected($event)">
  

 <button type="submit">Submit</button>
 <button routerLink="/userviewloan">Back</button>
</form>
</div>
<div *ngIf="showSuccessPopup" class="popup">
  <div class="popup-content">
    <p>Loan successfully added!</p>
    <button (click)="closePopup()">OK</button>
  </div>
</div>
