<app-usernav></app-usernav>

<div style="background-image: url('/assets/images/background.webp'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            z-index: -1; 
            filter: blur(10px);">
</div>

<div class="container">
<h1>Loan Application Form</h1>
<form [formGroup]="loanApplicationForm" (ngSubmit)="onSubmit()">
  
  <label for="farmLocation">Farm Location*</label>
  <input type="text" id="farmLocation" formControlName="farmLocation">
  <div class="error-message" *ngIf="loanApplicationForm.get('farmLocation')?.touched && loanApplicationForm.get('farmLocation')?.invalid">
    <div>*Farm Location is required</div>
  </div>

  <label for="address">Farmer's Address*</label>
  <textarea id="address" formControlName="address" rows="4"></textarea>
  <div class="error-message" *ngIf="loanApplicationForm.get('address')?.touched && loanApplicationForm.get('address')?.invalid">
    <div>*Farmer's Address is required</div>
  </div>

  <label for="size">Farm Size (in acres)*</label>
  <input type="number" id="size" formControlName="size">
  <div class="error-message" *ngIf="loanApplicationForm.get('size')?.touched && loanApplicationForm.get('size')?.hasError('required')">
    <div>*Farm Size is required</div>
  </div>
  <div class="error-message" *ngIf="loanApplicationForm.get('size')?.touched && loanApplicationForm.get('size')?.hasError('min')">
    <div>*Farm Size must be a non-negative number</div>
  </div>

  <label for="purpose">Farm Purpose*</label>
  <input type="text" id="purpose" formControlName="purpose">
  <div class="error-message" *ngIf="loanApplicationForm.get('purpose')?.touched && loanApplicationForm.get('purpose')?.invalid">
    <div>*Farm Purpose is required</div>
  </div>

  <label for="proof">Proof*</label>
  <input type="file" id="proof" (change)="onFileSelected($event)">

  <button type="submit">Submit</button>
  <button routerLink="/userviewloan">Back</button>

</form>

</div>
<div *ngIf="showSuccessPopup" class="popup">
  <div class="popup-content">
    <p>Loan successfully added!</p>
    <button (click)="closePopup()">OK</button>
  </div>
</div>
