<app-usernav></app-usernav>
<div style="background-image: url('/assets/images/background.webp'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            z-index: -1; 
            filter: blur(10px);">
</div>

<div class="icon-container">
    <i class="fa-solid fa-circle-user"></i>
    <div class="user-details">
        <p class="user-name">Username: {{ userProfile.username }}</p>
        <p class="user-email">Email: {{ userProfile.email }}</p>
        <p class="user-mobileNumber">Mobile Number: {{ userProfile.mobileNumber }}</p>
      </div>
</div>
