<app-adminnav></app-adminnav>


<div class="container">
<h2>Create New Loan</h2>
    <form [formGroup]="loanForm" (ngSubmit)="createLoan()">

        <label>Loan Type*</label>
        <input type="text" formControlName="loanType">
        <div class="error-message" *ngIf="loanForm.controls.loanType.invalid && loanForm.controls.loanType.touched">
            *Loan Type is required
        </div>
    
        <label for="description">Description*</label>
        <textarea id="description" formControlName="description" rows="4"></textarea>
        <div class="error-message" *ngIf="loanForm.controls.description.invalid && loanForm.controls.description.touched">
            *Description is required
        </div>

    
        <label>Interest Rate*</label>
        <input type="number" formControlName="interestRate" min="0">
        <div class="error-message" *ngIf="loanForm.controls.interestRate.errors?.required && loanForm.controls.interestRate.touched">
            *Interest Rate is required!
        </div>
        <div *ngIf="loanForm.controls.interestRate.errors?.min && loanForm.controls.interestRate.touched">
            *Interest Rate must be a non-negative number!
        </div>

        <label>Maximum Amount*</label>
        <input type="number" formControlName="maximumAmount" min="0">
        <div  class="error-message" *ngIf="loanForm.controls.maximumAmount.errors?.required && loanForm.controls.maximumAmount.touched">
            *Maximum Amount is required!
        </div>
        <div class="error-message" *ngIf="loanForm.controls.maximumAmount.errors?.min && loanForm.controls.maximumAmount.touched">
            *Maximum Amount must be a non-negative number!
        </div>

        <label>Repayment Tenure (Months)*</label>
        <input type="number" formControlName="repaymentTenure" min="0">
        <div class="error-message" *ngIf="loanForm.controls.repaymentTenure.errors?.required && loanForm.controls.repaymentTenure.touched">
            *Repayment Tenure is required!
        </div>
        <div *ngIf="loanForm.controls.repaymentTenure.errors?.min && loanForm.controls.repaymentTenure.touched">
            *Repayment Tenure must be a non-negative number!
        </div>

    
        <label>Eligibility Criteria*</label>
        <input type="text" formControlName="eligibility">
        <div class="error-message" *ngIf="loanForm.controls.eligibility.invalid && loanForm.controls.eligibility.touched">
            *Eligibility Criteria is required
        </div>
    
        <label>Documents Required*</label>
        <textarea formControlName="documentsRequired" rows="4"></textarea>
        <div class="error-message" *ngIf="loanForm.controls.documentsRequired.invalid && loanForm.controls.documentsRequired.touched">
            *Documents Required is required
        </div>

    
        <button type="submit" [disabled]="loanForm.invalid">Submit</button>
    </form>
    
</div>