<app-usernav></app-usernav>

<div style="background-image: url('/assets/images/background.webp'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            z-index: -1; 
            filter: blur(10px);">
</div>

<div class="feedback-container">
  <h2>My Feedbacks</h2>
  <table *ngIf="feedbackList.length > 0; else noFeedbacks" class="feedback-table">
    <thead>
      <tr>
        <th>S. No</th>
        <th>Feedback</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of feedbackList; index as i">
        <td>{{i+1}}</td>
        <td>{{ feedback.feedbackText }}</td>
        <td>{{ feedback.date | date }}</td>
        <td>
          <button (click)="confirmDelete(feedback.feedbackId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

 
  <ng-template #noFeedbacks>
    <p class="no-data-message">No feedbacks found for this user.</p>
  </ng-template>

  <div *ngIf="confirmDeleteId !== null" class="popup">
    <p>Are you sure you want to delete this feedback?</p>
    <button (click)="deleteFeedback()">Yes, Delete</button>
    <button (click)="cancelDelete()">Cancel</button>
  </div>
</div>
