<app-navbar></app-navbar>

<div class="register-container">
  <h2>Signup</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="registerData.username" name="username" (blur)="validateField('username')" required>
    <div *ngIf="fieldErrors.username" class="error">{{ fieldErrors.username }}</div>

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="registerData.email" name="email" (blur)="validateField('email')" required>
    <div *ngIf="fieldErrors.email" class="error">{{ fieldErrors.email }}</div>

    <label for="mobile">Mobile:</label>
    <input type="text" id="mobile" [(ngModel)]="registerData.mobileNumber" name="mobileNumber" (blur)="validateField('mobileNumber')" required>
    <div *ngIf="fieldErrors.mobileNumber" class="error">{{ fieldErrors.mobileNumber }}</div>

    <label for="password">Password:</label>
    <div class="password-wrapper">
      <input type="password" id="password" [(ngModel)]="registerData.password" name="password" (blur)="validateField('password')" required>
      <span class="password-icon" (mouseover)="togglePasswordVisibility('password', true)" (mouseout)="togglePasswordVisibility('password', false)">
        <i class="fa-solid fa-eye"></i>
      </span>
    </div>
    <div *ngIf="fieldErrors.password" class="error">{{ fieldErrors.password }}</div>

    <label for="confirmPassword">Confirm Password:</label>
    <div class="password-wrapper">
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" (blur)="validateField('confirmPassword')" required>
      <span class="password-icon" (mouseover)="togglePasswordVisibility('confirmPassword', true)" (mouseout)="togglePasswordVisibility('confirmPassword', false)">
        <i class="fa-solid fa-eye"></i>
      </span>
    </div>
    <div *ngIf="fieldErrors.confirmPassword" class="error">{{ fieldErrors.confirmPassword }}</div>

    <label for="role">Select Role:</label>
    <select id="role" [(ngModel)]="registerData.userRole" name="userRole" (blur)="validateField('userRole')" required>
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
    <div *ngIf="fieldErrors.userRole" class="error">{{ fieldErrors.userRole }}</div>

    <button type="submit" [disabled]="!isFormValid()">Signup</button>
  </form>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>
