<app-adminnav></app-adminnav>

<div class="admin-feedback-container">
  <h2>Admin View Feedbacks</h2>
  <table *ngIf="feedbackList.length > 0; else noFeedbacks" class="feedback-table">
    <thead>
      <tr>
        <th>S. No</th>
        <th>Username</th>
        <th>Feedback</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of feedbackList; index as i">
        <td>{{i+1}}</td>
        <td>{{feedback.user.username}}</td>
        <td>{{feedback.feedbackText}}</td>
        <td>{{feedback.date | date}}</td>
        <td>
          <button (click)="viewProfile(feedback.user)">View Profile</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noFeedbacks>
    <p>No feedbacks found.</p>
  </ng-template>

  <div *ngIf="selectedUser" class="popup">
    <h3>User Details:</h3>
    <p><strong>Email:</strong> {{selectedUser.email}}</p>
    <p><strong>Username:</strong> {{selectedUser.username}}</p>
    <p><strong>Mobile Number:</strong> {{selectedUser.mobileNumber}}</p>
    <button (click)="closeProfile()">Close</button>
  </div>
</div>
