<nav class="navbar">
  <div class="navbar-left">
    <span class="brand-name">FarmAid</span>
  </div>
  <div class="navbar-right">
    <a routerLink="/home">Home</a>

    <div class="dropdown">
      <button class="dropbtn" aria-haspopup="true" aria-expanded="false">Loan</button>
      <div class="dropdown-content">
        <a routerLink="/createloan">Add Loan</a>
        <a routerLink="/viewLoan">View Loan</a>
      </div>
    </div>

    <a routerLink="/requestedloan">Loan Requested</a>
    <a routerLink="/adminviewfeedback">Feedbacks</a>

    <div class="admin-dropdown">
      <button class="admin-dropbtn" aria-haspopup="true" aria-expanded="false">{{username}}/Admin</button>
      <div class="dropdown-content">
        <a routerLink="/adminprofile">View Profile</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="showLogoutModal" class="logout-modal" aria-hidden="false">
  <div class="confirm-dialog">
    <header>
      <p>Are you sure you want to logout?</p>
    </header>
    <div class="modal-buttons">
      <button class="yes" (click)="confirmLogout()">Yes</button>
      <button class="cancel" (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>
