<!-- <h2>You logged in as a user</h2>
<a routerLink="/useraddfeedback" >Add Feedback</a>
<span>| |</span>
<a routerLink="/userviewfeedback" >My Feedback</a>
<span>| |</span>
<a routerLink="/viewuserloan" >View Loan</a> -->

<nav class="navbar">
    <div class="navbar-left">
      <span class="brand-name">FarmAid</span>
    </div>
    <div class="navbar-right">
      <span class="user-text">demouser/User</span>
      <a routerLink="/home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Loan</button>
        <div class="dropdown-content">
          <a routerLink="/userviewloan">View Loans</a>
          <a routerLink="/userappliedloan">Applied Loan</a>
        </div>
      </div>
      <a routerLink="/userviewfeedback">My Feedbacks</a>
      <a (click)="logout()">Logout</a>
    </div>
  </nav>
  
  <div *ngIf="showLogoutModal" class="logout-modal">
    <div class="modal-content">
      <p>Are you sure you want to logout?</p>
      <div class="modal-buttons">
        <button (click)="confirmLogout()">Yes</button>
        <button (click)="cancelLogout()">No</button>
      </div>
    </div>
  </div>
  