
<app-usernav></app-usernav>

<div style="background-image: url('/assets/images/background.webp'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            z-index: -1; 
            filter: blur(10px);">
</div>

<div class="container">
<h1>Available Loans</h1>

<input 
  type="text" 
  placeholder="Search..." 
  (keyup)="search()" 
  [(ngModel)]="searchData" 
  name="searchData" 
  id="searchData"
>

<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Loan Type</th>
      <th>Loan Description</th>
      <th>Interest Rate</th>
      <th>Maximum Amount</th>
      <th>Repayment Tenure (Months)</th>
      <th>Eligibility</th>
      <th>Documents Required</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of loans; index as i">
      <td>{{ i+1 }}</td>
      <td>{{ loan.loanType }}</td>
      <td>{{ loan.description }}</td>
      <td>{{ loan.interestRate }}</td>
      <td>{{ loan.maximumAmount }}</td>
      <td>{{ loan.repaymentTenure }}</td>
      <td>{{ loan.eligibility }}</td>
      <td>{{ loan.documentsRequired }}</td>
      <td>
        <button *ngIf="!loan.applied"
          (click)="appliedButton(loan.loanId)" 
          > Apply
        </button>
        <button
        *ngIf="loan.applied"
          (click)="appliedButton(loan.loanId)" 
          [disabled]="loan.applied"> Applied
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>