<app-usernav></app-usernav>

<div style="background-image: url('/assets/images/background.webp'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            z-index: -1; 
            filter: blur(10px);">
</div>

<div class="container">
<div  class="feedback-form">
  
  <form *ngIf="!popupMessage" (ngSubmit)="submitFeedback(feedbackForm)" #feedbackForm="ngForm">
    <h2>Add Feedback</h2>
    <div class="form-group">
      <label for="feedbackText">Feedback *</label>
      <textarea
        id="feedbackText"
        name="feedbackText"
        [(ngModel)]="feedbackText"
        required
        minlength="5"
        placeholder="Write your feedback here..."
        #feedbackTextRef="ngModel"
      ></textarea>
    </div>

    <div *ngIf="feedbackTextRef.invalid && feedbackTextRef.touched" class="error-messages">
      <p *ngIf="feedbackTextRef.errors?.required">Feedback is required.</p>
      <p *ngIf="feedbackTextRef.errors?.minlength">Feedback must be at least 5 characters long.</p>
    </div>

    <button type="submit" [disabled]="feedbackForm.invalid">Submit</button>
  </form>

  <div *ngIf="popupMessage" class="popup">
    <p>{{popupMessage}}</p>
    <button (click)="closePopup()">Ok</button>
  </div>
</div>
</div>