<app-adminnav></app-adminnav>

<div style="background-image: url('/assets/images/background.webp'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            z-index: -1; 
            filter: blur(10px);">
</div>

<div class="container">
<h1>Applied Loans</h1>

<div class="filterClass">
  <input 
  type="text" 
  placeholder="Search loans..." 
  (keyup)="search()" 
  [(ngModel)]="searchData" 
  name="searchData"
  id="searchData" 
/>

<select id="status" [(ngModel)]="selectedStatus" (change)="filterLoans()">
  <option value="">All</option>
  <option value="2">Approved</option>
  <option value="0">Rejected</option>
  <option value="1">Pending</option>
</select>
</div>


<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>User Name</th>
      <th>Loan Type</th>
      <th>Farm Location</th>
      <th>Submission Date</th>
      <th>Farm Size (Acres)</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of loans;index as i">
      <td><b>{{ i + 1 }}.</b></td>
      <td>{{ loan.user.username }}</td>
      <td>{{loan.loan.loanType}}</td>
      <td>{{ loan.farmLocation  }}</td>
      <td>{{ loan.submissionDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ loan.farmSizeInAcres  }}</td>
      <td>
        <p *ngIf="loan.loanStatus == 0" style="color: #ff2f2f;" >
          Rejected
        </p>
        <p *ngIf="loan.loanStatus == 1" style="color: rgb(170, 170, 170);" >
          Pending
        </p>
        <p *ngIf="loan.loanStatus == 2" style="color: #19af4d" >
          Accepted
        </p>
      </td>
      <td>
        <button class="bt" (click)="viewDetails(loan.loanApplicationId)">Details</button>    
        <button class="accept" *ngIf=" loan.loanStatus == 1 || loan.loanStatus == 0 "     (click)="acceptButton(loan.loanApplicationId
        )">Accept</button>
        <button class="reject" *ngIf=" loan.loanStatus == 1 || loan.loanStatus == 2 "    (click)="rejectButton(loan.loanApplicationId
        )">Reject</button>
      </td>
    </tr>
  </tbody>
</table>
</div>